* {
    margin : 10px;
    padding : 0px;
    box-sizing : border-box;
    background-color: rgb(220, 239, 245);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: red;
    text-align: center;
    font-size:  xx-large;
    text-decoration:underline;
    padding-bottom: 20px;
    text-transform: uppercase;
}

p {
    font-size: large;
    color: blue;
    line-height: 1.5;
}

#note {
    font-weight: bold;
    color: green;
}